/* #coul {
    height: calc(100vh - 20px);
    background: red;
} */

section {
    height: calc(100vh - 20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: rgba(0, 0, 0, 0.296) 0px 5px 10px;
}
